<form action="/notes/<%= note[:id] %>" method="post">
  <h2><%= note[:title] %></h2>
  <div><%= note[:text].gsub(/(\r\n|\r|\n)/, "<br>") %></div>
  <a class="btn btn-primary" href="/notes/<%= note[:id] %>/edit" role="button">編集</a>
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary">削除</button>
</form>
