<form method="post" action="/notes/<%= note[:id] %>">
  <input type="hidden" name="_method" value="patch">
  <input class="form-control" type="text" name="title" value="<%= note[:title]%>">
  <textarea class="form-control" name="text"><%= note[:text] %></textarea>
  <button class="btn btn-primary" type="submit">変更</button>
</form>
