<ul class="list-group">
  <% data.each do |note| %>
    <li class="list-group-item"><a href="/notes/<%= note[:id].to_s %>"><%= note[:title] %></a></li>
  <% end %>
</ul>
<a class="btn btn-primary" href="/notes/new" role="button">追加</a>
