<% if @list.size > 0 %>
<div class="list-group mb-5">
  <% @list.each do |item| %>
    <a href="/notes/<%= item[:id] %>" class="list-group-item list-group-item-action fs-5 py-3"><%= item[:title] %></a>
  <% end %>
</div>
<% else %>
<div class="text-end">
  <p class="fs-5">右上の [+Add] ボタンから新しいメモを作成できます▲</p>
</div>
<% end %>