<div class="list-group mb-5">
  <% data.each do |note| %>
    <a href="/notes/<%= note[:id].to_s %>" class="list-group-item list-group-item-action fs-5 py-3"><%= note[:title] %></a>
  <% end %>
</div>
